<div class="purchase-inquiries-section">
    <div class="lower-menu">
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu"><span (click)="openAddOfferModal()" *ngIf="this.offerAndOrderPossible && selectedRows.length > 0">Dodaj ofertę</span></button>
        <button class="btn-lower-menu"><span (click)="openAddOrderModal()" *ngIf="this.offerAndOrderPossible && selectedRows.length > 0">Dodaj zamówienie</span></button>
        <button class="btn-lower-menu" (click)="archiveSelected()" *ngIf="selectedRows.length > 0">Zarchiwizuj</button>
        
        <button class="btn-search" (click)="searchPopup = !searchPopup"><fa-icon [icon]="faSearch"></fa-icon></button>
        <input class="search-input" type="text">
    </div>
    
    <div class="grid">
        <ngx-spinner bdColor = "rgba(69,69,69,0.8)" size = "large" color = "#00ADB5" type = "ball-clip-rotate-pulse" [fullScreen] = "false"></ngx-spinner>
        <ag-grid-angular
            style="width: 100%; height: 96%;"
            class="ag-theme-balham"
            [rowData]="grid.items"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditInquiryModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>
    </div>

    <div class="grid-pagination">
        Strona: {{grid.pages}} Liczba przedmiotów: {{grid.total}}
    </div>

    <div class="search-popup" *ngIf="searchPopup">
        <app-purchase-inquiries-search [filters]="filter" (filtersChanged)="changeFilter($event)"></app-purchase-inquiries-search>
    </div>
</div>
