<div class="login-section">
    <div class="form">
      
        <h1>System zakupowy</h1>

        <ul class="tab-group">
          <li class="tab active"><a href="login">Logowanie</a></li>
          <li class="tab"><a href="login">Rejestracja</a></li>
        </ul>

          <div>   
            <form (ngSubmit)="login(user)">
                <input id="email" type="text" name="email" #email="ngModel" required class="form-control input" [(ngModel)]="user.username" type="text" placeholder="E-mail">>
                <input id="password" type="text" name="password" #password="ngModel" required class="form-control input" [(ngModel)]="user.password" type="password" placeholder="Hasło">
              
                <p class="forgot"><a href="login">Przypomnij hasło</a></p>
              
                <button class="button button-block" type="submit">Zaloguj</button>   
            </form>
          </div>
    </div>
</div>
