.modal-header {
    background-color: $primary;
    height: 2vh;
    color: white;
    font-family: Arial;
}

.modal-body {
    position: relative;
    max-height: 90%;
}

.modal-title {
    font-size: 1rem;
}

.close {
    border: none;
    background-color: transparent;
    color: white;
}

.close:hover {
    color: rgb(189, 189, 189);
}