<div class="statistic-categories-section">
    <div class="lower-menu">
        <div class="input-box-container">
            <input class="input-box" placeholder="Click to select a date" 
              angular-mydatepicker name="mydate" (click)="dp.toggleCalendar()" 
              [(ngModel)]="model" [options]="myDpOptions" 
              #dp="angular-mydatepicker" (dateChanged)="onDateChanged($event)" [locale]="locale"/>
        </div>
    </div>
    
    <div class="statistics">
        <div class="row">
            <div class="col">
                <ngx-charts-bar-vertical 
                    [view]="[800,400]"
                    [results]="chartData"
                    [xAxisLabel]="'Dystrybutor'"
                    [legendTitle]="'Legenda'"
                    [yAxisLabel]="'Kwota'"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
            </div>

            <div class="col">
                <ngx-charts-bar-vertical 
                    [view]="[800,400]"
                    [results]="chartDataCategory"
                    [xAxisLabel]="'Kategoria'"
                    [legendTitle]="'Legenda'"
                    [yAxisLabel]="'Kwota'"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ngx-charts-bar-vertical 
                    [view]="[800,400]"
                    [results]="chartDataMonths"
                    [xAxisLabel]="'Dystrybutor'"
                    [legendTitle]="'Legenda'"
                    [yAxisLabel]="'Kwota'"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
            </div>

            <div class="col">
                <ngx-charts-bar-vertical 
                    [view]="[800,400]"
                    [results]="chartDataItems"
                    [xAxisLabel]="'Kategoria'"
                    [legendTitle]="'Legenda'"
                    [yAxisLabel]="'Ilość'"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ngx-charts-bar-vertical 
                    [view]="[800,400]"
                    [results]="chartDataClient"
                    [xAxisLabel]="'Miesiąc'"
                    [legendTitle]="'Legenda'"
                    [yAxisLabel]="'Kwota'"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
            </div>
        </div>

    </div>
</div>

