<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edytowanie przedmiotu</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <label for="name">Nazwa</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="this.item.name" type="text">

    <label for="category">Kategoria</label>
    <select id="category" class="form-control" [(ngModel)]="this.item.idCategory">
      <option selected>Wybierz kategorię</option>
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>

    <label for="quantity">Ilość</label>
    <input id="quantity" type="text" class="form-control" [(ngModel)]="this.item.quantity" type="number">

    <label for="status">Status</label>
    <select id="status" class="form-control" [(ngModel)]="this.item.status">
      <option selected>Wybierz status</option>
      <option>Do zamówienia</option>
      <option>Zamówiony</option>
      <option>Odebrany</option>
    </select>

    <label for="project">Projekt</label>
    <select id="project" class="form-control" [(ngModel)]="this.item.idProject">
      <option selected>Wybierz projekt</option>
      <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
    </select>

    <label for="status">Zarchiwizowany</label>
    <select id="status" class="form-control" [(ngModel)]="this.item.archived">
      <option selected>Wybierz status</option>
      <option [value]="true">Tak</option>
      <option [value]="false">Nie</option>
    </select>

    <label for="comment">Komentarz</label>
    <textarea id="comment" type="text" cols="40" rows="5" class="form-control" [(ngModel)]="this.item.comment" type="text"></textarea>

    <button (click)="editItem(this.item)" type="submit" class="btn btn-primary w-100">Edytuj przedmiot</button>
</div>