@import "../../shared/styles/global.scss";

.menu-section {
    width: 100%;
    height: 100%;
    background-color: $menuUpperBgColor;
}

.btn-menu {
    width: 100%;
    height: 8%;
    background-color: $menuUpperBgColor;
    border-width: 0;
    color: white;
}

.btn-menu-selected {
    @extend .btn-menu;
    color: #00ADB5;
 }

 .btn-menu:hover {
    color: #dad8d8;  
 }
 