@import "../../shared/styles/global.scss";

.menu-section {
    width: 100%;
    height: 100%;
    background-color: $menuUpperBgColor;
}


.navigation {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.avatar {
    position: absolute;
    bottom: 3%;
    left: 7%;
    width: 100%;
    height: 2%;
    cursor: pointer;
}

.btn-menu {
    width: 100%;
    height: 8%;
    background-color: $menuUpperBgColor;
    border-width: 0;
    color: white;
}

.btn-menu-selected {
    @extend .btn-menu;
    color: #00ADB5;
 }

 .btn-menu:hover {
    color: #dad8d8;  
 }
 