<div class="purchase-items-search">
    <div class="filter-section">
        <div class="filter-section-name">Archwizacja</div>
        <div class="filter-section-elements">
            <button (click)="archiveStatus[0] = !archiveStatus[0]" [ngClass]="{'element-selected': archiveStatus[0] == true,'element': archiveStatus[0] !== true}">Zarchiwzowane</button>
            <button (click)="archiveStatus[1] = !archiveStatus[1]" [ngClass]="{'element-selected': archiveStatus[1] == false,'element': archiveStatus[1] !== false}">Niezarchiwzowane</button>
        </div>
    </div>

    <div class="filter-section">
        <div class="filter-section-name">Projekt</div>
        <div class="filter-section-elements">
            <button class="element" *ngFor="let project of projects" (click)="project.selected = !project.selected"
                    [ngClass]="{'element-selected': project.selected == true,'element': project.selected !== true}">{{project.name}}</button>
        </div>
    </div>

    <div class="filter-section">
        <div class="filter-section-name">Kategoria</div>
        <div class="filter-section-elements">
            <button *ngFor="let category of categories" (click)="category.selected = !category.selected" 
                    [ngClass]="{'element-selected': category.selected == true,'element': category.selected !== true!}">{{category.name}}</button>
        </div>
    </div>

    <div class="btn btn-primary btn-filter" (click)="changeFilters()">Filtruj</div>
</div>

