<div class="purchase-items-search">
    <div class="filter-section">
        <div class="filter-section-name">Archwizacja</div>
        <div class="filter-section-elements">
            <button class="element" (click)="selectedArchiveStatus = true">Zarchiwzowane</button>
            <button class="element" (click)="selectedArchiveStatus = false">Niezarchiwzowane</button>
            <button class="element" (click)="selectedArchiveStatus = null">Wszystkie</button>
        </div>
    </div>

    <div class="filter-section">
        <div class="filter-section-name">Projekt</div>
        <div class="filter-section-elements">
            <button class="element" *ngFor="let project of projects" (click)="selectedProject = project"
                    [ngClass]="{'element-selected': selectedProject == project,'element': selectedProject == project!}">{{project.name}}</button>
        </div>
    </div>

    <div class="filter-section">
        <div class="filter-section-name">Kategoria</div>
        <div class="filter-section-elements">
            <button *ngFor="let category of categories" (click)="selectedCategory = category" 
                    [ngClass]="{'element-selected': selectedCategory == category,'element': selectedCategory == category!}">{{category.name}}</button>
        </div>
    </div>

    <div class="btn btn-primary w-100" (click)="changeFilters()">Filtruj</div>
</div>

