@import "../client-shared/styles/global.scss";

.client-menu-right-section {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.menu {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 2%;
    background-color: $menuUpperBgColor;
}

.lower-menu {
    position: absolute;
    left: 0%;
    top: 2%;
    width: 100%;
    height: 2%;
    background-color: $menuLowerBgColor;
}