@import "../general/colors.scss";


.btn-confirmation {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: Verdana;
    background-color: #37CF39;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
 }
 
 .btn-confirmation:hover {
    border: solid #337FED 1px;
    background: #00E1B7;
    background-image: -webkit-linear-gradient(top, #00E1B7, #00C961);
    background-image: -moz-linear-gradient(top, #00E1B7, #00C961);
    background-image: -ms-linear-gradient(top, #00E1B7, #00C961);
    background-image: -o-linear-gradient(top, #00E1B7, #00C961);
    background-image: -webkit-gradient(to bottom, #00E1B7, #00C961);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.3s;
 }

 .btn-upper-menu {
   position: relative;
   width: 10%;
   height: 100%;

   background-color: $primary;
   border-style: None;
   border-width: 0px;
   color: #ffffff;
   text-align: center;
   text-decoration: none;
   float:left; 
   display:inline;
   font-size: 12px;
   font-family: Arial;
}

.btn-upper-menu-selected {
   @extend .btn-upper-menu;
   background-color: $secondary;
   color: #00ADB5;
}


.btn-lower-menu {
   position: absolute;
   left: 0%;
   width: 10%;
   height: 100%;

   background-color: #4caf50;
   border-style: None;
   border-width: 0px;
   color: #ffffff;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   border-radius: 28px;
}

