<div class="client-center-section">
    <div class="menu">
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Items','btn-upper-menu': selectedMenu!=='Items'}" (click)="selectMenu('Items')">Przedmioty</button>
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Inquiries','btn-upper-menu': selectedMenu!=='Inquiries'}" (click)="selectMenu('Inquiries')">Zapytania</button>
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Offers','btn-upper-menu': selectedMenu!=='Offers'}" (click)="selectMenu('Offers')">Oferty</button>
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Orders','btn-upper-menu': selectedMenu!=='Orders'}" (click)="selectMenu('Orders')">Zamówienia</button>
        
    </div>

    <div class="lower-menu">
        <div *ngIf="selectedMenu=='Items'">
            <button class="btn-lower-menu" (click)="openAddItemModal()">Dodaj przedmiot</button>
            <button class="btn-lower-menu" (click)="openAddInquiryModal()">Dodaj zapytanie</button>
            <button class="btn-lower-menu" (click)="openAddOfferModal()">Dodaj ofertę</button>
            <button class="btn-lower-menu" (click)="openAddOrderModal()">Dodaj zamówienie</button>
            <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
        </div>

        <div *ngIf="selectedMenu=='Inquiries'">
            <button class="btn-lower-menu" (click)="openAddItemModal()"></button>
            <button class="btn-lower-menu" (click)="openAddInquiryModal()"></button>
            <button class="btn-lower-menu" (click)="openAddOfferModal()">Dodaj ofertę</button>
            <button class="btn-lower-menu" (click)="openAddOrderModal()">Dodaj zamówienie</button>
            <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
        </div>

        <div *ngIf="selectedMenu=='Offers'">
            <button class="btn-lower-menu" (click)="openAddItemModal()"></button>
            <button class="btn-lower-menu" (click)="openAddInquiryModal()"></button>
            <button class="btn-lower-menu" (click)="openAddOfferModal()"></button>
            <button class="btn-lower-menu" (click)="openAddOrderModal()">Dodaj zamówienie</button>
            <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
        </div>

        <div *ngIf="selectedMenu=='Orders'">
            <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
        </div>
    </div>

    <div class="table">
        <ag-grid-angular *ngIf="selectedMenu=='Items'"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditItemModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>

        <ag-grid-angular *ngIf="selectedMenu=='Inquiries'"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditItemModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>

        <ag-grid-angular *ngIf="selectedMenu=='Offers'"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditOfferModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>

        <ag-grid-angular *ngIf="selectedMenu=='Orders'"
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditOrderModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>
    </div>
</div>

