    <div class="menu">
        <button [routerLink]="'/purchase/items'" [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Items','btn-upper-menu': selectedMenu!=='Items'}" (click)="selectMenu('Items')">Przedmioty</button>
        <button [routerLink]="'/purchase/inquiries'" [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Inquiries','btn-upper-menu': selectedMenu!=='Inquiries'}" (click)="selectMenu('Inquiries')">Zapytania</button>
        <button [routerLink]="'/purchase/offers'" [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Offers','btn-upper-menu': selectedMenu!=='Offers'}" (click)="selectMenu('Offers')">Oferty</button>
        <button [routerLink]="'/purchase/orders'" [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Orders','btn-upper-menu': selectedMenu!=='Orders'}" (click)="selectMenu('Orders')">Zamówienia</button>
    </div>