<div class="client-table-section">
    <div class="menu">
        <button class="button-upper" (click)="selectMenu('Items')">Do zamówienia</button>
        <button class="button-upper" (click)="selectMenu('Requests')">Zapytania ofertowe</button>
        <button class="button-upper" (click)="selectMenu('Orders')">Zamówienia</button>
        
    </div>

    <div class="lower-menu">
        <button class="button" (click)="openModal()">Dodaj</button>

        <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
    </div>

    <div class="table">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize">
        </ag-grid-angular>
    </div>
</div>

