<div class="client-table-section">
    <div class="menu">
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Items','btn-upper-menu': selectedMenu!=='Items'}" (click)="selectMenu('Items')">Zapotrzebowanie</button>
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Inquiries','btn-upper-menu': selectedMenu!=='Inquiries'}" (click)="selectMenu('Inquiries')" (click)="selectMenu('Inquiries')">Zapytania ofertowe</button>
        <button [ngClass]="{'btn-upper-menu-selected': selectedMenu=='Orders','btn-upper-menu': selectedMenu!=='Orders'}" (click)="selectMenu('Orders')" (click)="selectMenu('Orders')">Zamówienia</button>
        
    </div>

    <div class="lower-menu">
        <button class="btn-lower-menu" (click)="openModal()">Dodaj</button>

        <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
    </div>

    <div class="table">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true">
        </ag-grid-angular>
    </div>
</div>

