<div class="purchase-items-section">
    <div class="lower-menu">
        <button class="btn-lower-menu" (click)="openAddItemModal()">Dodaj przedmiot</button>
        <button class="btn-lower-menu" (click)="openAddInquiryModal()">Dodaj zapytanie</button>
        <button class="btn-lower-menu" (click)="openAddOfferModal()">Dodaj ofertę</button>
        <button class="btn-lower-menu" (click)="openAddOrderModal()">Dodaj zamówienie</button>
        <input class="search-input" type="text"  [(ngModel)]="filter" (input)="search(filter)">
    </div>
    
    <div class="grid">
        <ngx-spinner bdColor = "rgba(69,69,69,0.8)" size = "large" color = "#00ADB5" type = "ball-clip-rotate-pulse" [fullScreen] = "false"></ngx-spinner>
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditItemModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>
    </div>
</div>

