.client-section {
    width: 100%;
    height: 100%;
}

.client-menu-left-section {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 3%;
    height: 100%;
}


.client-purchase-section {
    position: fixed;
    left: 3%;
    top: 0%;
    width: 97%;
    height: 100%;
}