<div class="purchase-orders-section">
    <div class="lower-menu">
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu"></button>
        <button class="btn-lower-menu" (click)="archiveSelected()" *ngIf="selectedRows.length > 0">Zarchiwizuj</button>
        
        <input class="search-input" type="text">
    </div>
    
    <div class="grid">
        <ngx-spinner bdColor = "rgba(69,69,69,0.8)" size = "large" color = "#00ADB5" type = "ball-clip-rotate-pulse" [fullScreen] = "false"></ngx-spinner>
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [pagination]="false"
            [paginationPageSize]="pageSize"
            [rowSelection]="'multiple'"
            [suppressRowDeselection]="true"
            (rowDoubleClicked)="openEditOrderModal($event.data)"
            (selectionChanged) = "onSelectionChanged($event)">
        </ag-grid-angular>
    </div>
</div>
