<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodawanie przedmiotu</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <label for="name">Nazwa</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="this.item.name" type="text">

    <label for="project">Kategoria</label>
    <select id="status" class="form-control" [(ngModel)]="this.item.category">
      <option selected>Wybierz kategorie</option>
      <option>Mechanika</option>
      <option>Elektryka</option>
      <option>Software</option>
    </select>

    <label for="quantity">Ilość</label>
    <input id="quantity" type="text" class="form-control" [(ngModel)]="this.item.quantity" type="number">

    <label for="status">Status</label>
    <select id="status" class="form-control" [(ngModel)]="this.item.status">
      <option selected>Wybierz status</option>
      <option>Do zamówienia</option>
      <option>Zamówiony</option>
      <option>Odebrany</option>
    </select>

    <label for="project">Projekt</label>
    <select id="project" class="form-control" [(ngModel)]="this.item.idProject">
      <option selected>Wybierz projekt</option>
      <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
    </select>

    <button (click)="addItem(this.item)" type="submit" class="btn btn-primary w-100">Dodaj przedmiot</button>
</div>