<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodawanie zamówienia</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <label for="distributr">Dystrybutor</label>
            <select id="distributr" class="form-control" [(ngModel)]="this.inquiry.idDistributor">
              <option selected>Wybierz dystrybutora</option>
              <option *ngFor="let distributor of this.distributors" [value]="distributor.id">{{distributor.name}}</option>
            </select>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table">
                <ag-grid-angular
                    style="width: 100%; height: 60vh;"
                    class="ag-theme-balham"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [pagination]="false"
                    [paginationPageSize]="pageSize"
                    [rowSelection]="'multiple'"
                    [suppressRowDeselection]="true">
                </ag-grid-angular>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button (click)="addInquiry(this.inquiry)" type="submit" class="btn btn-primary w-100">Dodaj zapytanie</button>
        </div>
    </div>
</div>